*{
    padding: 0;
    margin: 0;
    display: flexbox;
}

nav{
    background-color:rgb(40, 128, 163);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
h2{
    margin-bottom: 30px;
    text-shadow: 2px 2px gray;
}
ul li{
    display: inline;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
}
li.mi1 {
    display: inline-block;
  }
  

#mi{
    float: right;
}
h1{
    text-align: center;
    padding-top: 190px;
    font-size: 30px;
    text-transform: uppercase;
    color:rgb(233, 220, 220);
    text-shadow: 2px 2px gray;
}
h3{
    font-size: 25px;
}
span{
    color:red;
}
.web ul li::after{
    content:'' ;
    height: 3px;
    width: 0;
    background:skyblue;
    position: absolute;
    left:0;
    bottom: -10px;
    transition:2s ;
}
.web ul li:hover::after{
    width: 100%;
}
.tonk{
    padding-top: 250px;
    color: white;
}
tr th a{
    text-decoration: none;
    color:white;
}
footer{
    background-color: skyblue;
    margin-top: 210px;
}
table{
    margin-top: 20px;
 }
 tr th{
    color: white;
    padding-top: 20px;
 }
 
 tr td{
    padding-left: 30px;
 }